<h1>Pages#home</h1>
<<<<<<< HEAD
<%= react_component("ProfileMessage", { user: @user }) %>
<%= react_component("Dashboard") %>
=======


<%= react_component("Dashboard", { user: @user, latest_reports: @last_month_reports}) %>
>>>>>>> a04958a9652532f9889fc8be675f79951c4514f6
