<h1>Pages#home</h1>
<% key_traits = [] %>
<% @last_month_reports.each do |report| %>
  <% key_traits << report.key_traits%>
<% end %>


<%= react_component("Dashboard", { user: @user, latest_reports: @last_month_reports}) %>
