<h1>Pages#home</h1>
<<<<<<< HEAD
<%= react_component("Dashboard", { user: @user }) %>
=======


<%= react_component("Dashboard", { user: @user, latest_reports: @last_month_reports}) %>
>>>>>>> master
